---
import Root from "@/layouts/Root.astro";
import { languages } from "@/i18n/ui";

export async function getStaticPaths() {
  const langParams = Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
  langParams.push({ params: { lang: "" } });
  return langParams;
}
---

<Root title="Blog" active="blog">
  <h1>Blog</h1>
</Root>
