**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!pyproject.toml
!uv.lock

!apps/web/**
!apps/api/**
!apps/app/**

!infra/pb/**

!pkgs/js/**
!pkgs/python/**
# !pkgs/js/*/package.json
# !pkgs/python/*/pyproject.toml