**/.venv
**/__pycache__
**/.vscode

**/.env
**/.env.production
**/.env.development
**/.env.local
**/.env.preview

**/pb/pb_data
**/meilisearch/data
**/dragonfly/data

**/.pnpm-store
**/node_modules

**/dist