**/.venv
**/__pycache__

**/.env
**/.env.production
**/.env.development
**/.env.local
**/.env.preview
**/.env.migration

**/pb/pb_data
**/meilisearch/data
**/dragonfly/data

**/.pnpm-store
**/node_modules

**/dist

**/logs
**/.pids

e2e/**/test-results
e2e/**/playwright-report
**/.pytest_cache

**/.DS_Store
