**/.venv
**/__pycache__

**/.env
**/.env.production
**/.env.development
**/.env.local
**/.env.preview

**/pb/pb_data
**/meilisearch/data
**/dragonfly/data

**/.pnpm-store
**/node_modules

**/dist

**/logs
**/.pids

tests/**/test-results
tests/**/playwright-report
**/.pytest_cache
