@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "cupcake";
  default: false;
  /* --color-primary: var(--color-lime-600); */
  /* --color-secondary: var(--color-amber-600); */
  /* --color-neutral-content: var(--color-slate-200); */
  /* --color-neutral: var(--color-gray-700); */
}

@plugin "daisyui/theme" {
  name: "halloween";
  default: true;
  /* --color-primary: var(--color-lime-500); */
  /* --color-secondary: var(--color-yellow-500); */
  /* --color-neutral-content: var(--color-slate-200); */
  /* --color-neutral: var(--color-slate-500); */
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 100 900; /* если variable */
  font-style: normal;
  font-display: swap;
}
:root {
  --font-sans: "Roboto", system-ui, sans-serif;
}
