@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@quizbee/ui-svelte-daisy/dist/*';

@import './lib/styles/theme.css';
@import './lib/styles/fonts.css';
@import './lib/styles/scroll.css';
/* @import './lib/styles/transitions.css'; */

/* Prevent horizontal scroll globally */
html,
body {
	overflow-x: hidden;
	max-width: 100vw;
}

/* Критично для производительности PWA на мобильных */
/* Убирает 300ms задержку тапов и улучшает responsiveness */
a,
button,
[role='button'],
input[type='submit'],
input[type='button'] {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 50px;
}

@theme {
	/* 2560px / 16 = 160rem, 3840px / 16 = 240rem */
	--breakpoint-2k: 160rem;
	--breakpoint-4k: 240rem;
}

html {
	font-size: 16px;
}
@media (width >= 160rem) {
	html {
		font-size: 100px;
	}
} /* 2K */
@media (width >= 240rem) {
	html {
		font-size: 20px;
	}
} /* 4K */
