---
import { languages } from "@/i18n/ui";

import Root from "@/layouts/Root.astro";

export async function getStaticPaths() {
  const langParams = Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
  // @ts-ignore
  langParams.push({ params: { lang: undefined } });
  return langParams;
}
---

<Root title="Quizes" active="quizes">
  <h1>Quizes</h1>
</Root>
