@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../node_modules/@quizbee/ui-svelte-daisy/dist/*';

@import './lib/styles/theme.css';
@import './lib/styles/fonts.css';
@import './lib/styles/scroll.css';
/* @import './lib/styles/transitions.css'; */

/* Prevent horizontal scroll globally */
html,
body {
	overflow-x: hidden;
	max-width: 100vw;
}

/* Критично для производительности PWA на мобильных */
/* Убирает 300ms задержку тапов и улучшает responsiveness */
a,
button,
[role='button'],
input[type='submit'],
input[type='button'] {
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
}

/* html {
	font-size: 50px;
} */

@theme {
	--breakpoint-xs: 30rem;
	--breakpoint-lg: 80rem; /* 1366 pixels*/
	--breakpoint-xl: 110rem;/* 1920 pixels*/
	--breakpoint-2xl: 150rem;/* 2560 pixels*/
	--breakpoint-3xl: 220rem;/* 2880 pixels*/
}
