---
import { getLangFromUrl } from "@/i18n/utils";
import "@/styles/global.css";

import ThemeLoad from "@/components/features/ThemeLoad.astro";
import ThemeController from "@/components/features/ThemeController.svelte";

import Posthog from "@/components/Posthog.astro";
import PortalHost from "@/components/PortalHost.svelte";
import CookiesAccept from "@/components/CookiesAccept.svelte";

import Header from "./_Header.astro";
import { ClientRouter } from "astro:transitions";

const { title, active } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <Posthog />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bee_final.svg" />
    <link
      rel="preload"
      as="font"
      href="/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf"
      type="font/ttf"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <ClientRouter />
    <ThemeLoad />
  </head>
  <body>
    <CookiesAccept client:only />
    <PortalHost client:only />

    <Header transition:persist="global-header" client:load active={active} />

    <main class="mx-auto max-w-screen-xl">
      <slot />
    </main>

    <footer></footer>
  </body>
</html>
