---
import { getLangFromUrl } from "@/i18n/utils";
import { languages } from "@/i18n/ui";
import Root from "@/layouts/Root.astro";

export async function getStaticPaths() {
  const langParams = Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
  langParams.push({ params: { lang: "" } });
  return langParams;
}

const lang = getLangFromUrl(Astro.url);
---

<Root lang={lang} title="Root page">
  <h1>Root page {lang}</h1>
</Root>
